/* 
    Document   : style
    Created on : 8.11.2013, 13:36:52
    Author     : kennis
    Description:
        Purpose of the stylesheet follows.
*/
@import "variables.less";
root { 
    display: block;
}

body{
    text-align: center;
    font-family: Calibri,sans-serif;
}

#container{
    width:960px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;

}

h1{
    margin-bottom:0px;
}
.smallheader {
    margin-top:0px;
    display: block;
    font-style: italic;
}
/* MENU */

.top-bar{
    background-color:@navbar_color;
} 
.top-bar.expanded .toggle-topbar a {
    color: @navbar_font_color;
}
.top-bar .name h1 {
    text-align:left;
}
.top-bar.expanded .title-area {
    background-color: @navbar_color;
}   
.top-bar-section{

}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color:@navbar_color;
text-align: left;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: @menu_item_hover_color; 
    color: @navbar_color;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
   border-color:@divider_border_color; 
}

/* Frontpage */
    
#BoxBody{
    border:1px solid #EB3E38;
    overflow-x:auto;
    overflow-y:auto;
    margin-top:5px;
    text-align: center;
    margin-bottom:5px;
     
}
#BoxHeader, #PreviewHeader, #TableHeading{
    text-align: center;
    width:100%;
    background-color: @header_color;
    color:#FFF;
    font-size:16px;
    line-height:45px;
    height:45px;
    
}
/* Add form page */
form{
    text-align: center;
    margin-bottom: 10px;

}
label
{
    float: left;
    text-align: left;
    margin-left:0px;
    margin-right: 0.5em;
    display: block
}

th{
text-align:center;
}


.submit 
{
    color: #000;
    background: @box_color;
    border: 2px outset #d7b9c9;
    clear:both;
    width:100%;
    height:31px;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-weight:bold;
    cursor:pointer;
}

.small{
    color:#666666;
    display:block;
    font-size:12px;
    font-weight:normal;
    text-align: center;
    width: auto;
    margin-top:2px;
}

.tableHeaders{
    margin-top:5px;
    margin-bottom:5px;
    font-weight:bold;
}

#bannerPreview{
    border: 1px solid @box_border_color;
    background-color:#F5F5F5;    
    text-align:left;
    height:300px;
    margin-bottom:20px;
    padding:20PX;

}

/* INFO BOXES */
.info {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.success {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#5a8f00; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background:-moz-linear-gradient(#b8db29, #5a8f00);
    background:-o-linear-gradient(#b8db29, #5a8f00);
    background:linear-gradient(#b8db29, #5a8f00);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.warning {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.error {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#c81e2b; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
    background:-moz-linear-gradient(#f04349, #c81e2b);
    background:-o-linear-gradient(#f04349, #c81e2b);
    background:linear-gradient(#f04349, #c81e2b);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.infobox {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.infobox:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#075698 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;  
}

.successbox {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#5a8f00; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background:-moz-linear-gradient(#b8db29, #5a8f00);
    background:-o-linear-gradient(#b8db29, #5a8f00);
    background:linear-gradient(#b8db29, #5a8f00);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.successbox:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#5a8f00 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;  
}

.warningbox {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.warningbox:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f3961c transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;  
}

.errorbox {
    position:relative;
    padding:15px;
    margin:10px 0px 20px;
    color:#fff;
    background:#c81e2b; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
    background:-moz-linear-gradient(#f04349, #c81e2b);
    background:-o-linear-gradient(#f04349, #c81e2b);
    background:linear-gradient(#f04349, #c81e2b);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.errorbox:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#c81e2b transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;  
}
/* TABLE */
table{
    border: 1px solid @box_border_color;
    background-color:#F5F5F5;    
    text-align:left;
    overflow:scroll;
    width:100%;
    border-spacing: 0.5rem;
    border-collapse: collapse;
}
.scrollit {
    overflow:scroll;
    height:100px;
}
td select{
    width:auto;

    margin:0px;
}
td textarea{
    margin-left:0px;  

}
table thead{
    border-bottom: 1px solid @box_border_color;

    height:50px;
    text-align: center;
}
th{
        border-right: 1px solid #EB3E38;
}
table thead .small{
    text-align: center;
}
table td {

    overflow: scroll;
    border-right: 1px solid #EB3E38;
    white-space: nowrap;
    text-align: center;

}
#TableHeading{
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    width:100%;
    margin:0px;
    margin-top:10px;
    text-transform:uppercase;
}
