/* Mixin */
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}
/* Colors descriptive */
@red: #EB3E38;
@white: #FFF;


/* Colors functional */

@navbar_color: @red;
@box_color: @red;
@box_border_color: @red;
@header_color : @red;
@divider_border_color: @white;
@menu_item_hover_color: @white;
@navbar_font_color: @white;